@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #F5F5F8;
    --primary: #0047AB;
    --secondary: #F6B129;
    --divider: #D0D0D0
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #F5F5F8;
    --primary: #0047AB;
    --secondary: #F6B129;
    --divider: #D0D0D0
  }
}
